/*CSS to HTML*/

body {
    background-color: #485f8b2c;
}

.header {
    background-color: #ffffff;
    border: #cccccc;
    width: 100%;
    height: 85px;
}
.content-box {

    margin-top: 15px;
    background-color: #FFFFFF;
    padding-right: 25px;
    padding-left: 25px;

}


.h1 {

    color: #4aaaa5;
    font-family: Georgia, Times, "Times New Roman", serif;
    width: 185px; 
    height: 50px;
    font-size: 35px;
    
}

.p {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #777777;
}




.card-footer {
    height: 75px;
    width: 100%;
    border-top-color: rgb(83, 170, 165);
    border-top-style: solid;
    border-top-width: 10px;
    padding-top: 800px;
   
}

